body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

.spinner {
  visibility: hidden;
  width: 32px;
  height: 32px;
  margin: 10px auto;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
}

.spinner.show {
  visibility: visible;
  animation: sp-anime 1.0s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

#logger {
  padding: 5px;
  font-family: monospace;
  list-style-type: none;
  height: 20em;
  border: #000 solid 1px;
  overflow-y: scroll;
  resize: vertical;
}

#logSwitch {
  display: inline-block;
}

.record {
  white-space: pre-wrap;
  word-break: break-all;
}

.record.hidden {
  display: none;
}

.record::before {
  content: attr(data-type) ": ";
  display: inline-block;
  width: 8ch;
  font-weight: bold;
}

.record.stderr {
  color: darkred;
}


form {
  margin: 0.5em 0;
}
.form-section {
  margin: 0.5em 0;  
}
.form-section h4 {
  margin: 0;
}
textarea {
  width: 100%;
}