body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

.spinner {
  visibility: hidden;
  width: 32px;
  height: 32px;
  margin: 10px auto;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
}

.spinner.show {
  visibility: visible;
  animation: sp-anime 1.0s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

#logger {
  padding: 5px;
  padding-inline-start: calc(5px + 4em);
  font-family: monospace;
  height: 20em;
  border: #000 solid 1px;
  overflow-y: scroll;
  resize: vertical;
}

.record {
  display: none;
  white-space: pre-wrap;
  word-break: break-all;
}

.record::marker {
  font-weight: bold;
}

.record.stdout {
  list-style-type: "stdout: ";
  color: black;
}

.record.stderr {
  list-style-type: "stderr: ";
  color: darkred;
}

label:has(.stdout-check:checked)~#logger .stdout {
  display: list-item;
}

label:has(.stderr-check:checked)~#logger .stderr {
  display: list-item;
}